@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
    /* outline: 1px solid red; */
}
html{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.inner1440{
    width: 1440px;
    margin: 0 auto;
}
.wrap{
    position: relative;
}
.quickmenu{
    width: 120px;
    height: 215px;
    position: absolute;
    right: 0;
    top: 100px;
    padding: 12px;
}
.quickmenu > ul > li{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    background-color: #fff;
    box-shadow: 3px 3px #ccc;
}
.quickmenu > ul > li > a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
    color: rgb(0,0,80);
}
.quickmenu > ul > li:hover > a{
    background-color: #00B9EF;
    color: #fff;
    border-radius: 10px;
}
.proj2{
    height: 2209px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.proj2_bing{
    background: url(/index/image/proj2-detail-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.proj2_bing a > h2{
    width: 270px;
    height: 55px;
    padding: 2px 0;
    text-align: center;
    font: 700 2rem 'Noto Sans KR';
    letter-spacing: -0.3px;
    color: #333;
    border-radius: 10px;
    border: 2px solid #333;
    margin: 80px auto 0 auto;
    box-shadow: 5px 5px #ccc;
}
.left_txt{
    margin: 0 120px;
    width: 250px;
    position: relative;
}
.left_txt p > b{
    color: #00B9EF;
    margin: 10px 0 0 0;
}
.left_txt h3{
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    margin: 0 0 10px 0;
    background-color: #00B9EF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.left_txt p{
    font: 300 1rem/1.3 'Noto Sans KR';
    letter-spacing: -0.3px;
    padding: 0 20px;
    text-align: center;
}
.toptxt{
    background-color: #fff;
    border-radius: 20px;
    height: 140px;
    margin-top: 200px;
    box-shadow: 5px 5px #ccc;
}
.socialtxt{
    background-color: #fff;
    border-radius: 20px;
    height: 180px;
    margin-top: 300px;
    box-shadow: 5px 5px #ccc;
}
.snstxt{
    background-color: #fff;
    border-radius: 20px;
    height: 180px;
    margin-top: 80px;
    box-shadow: 5px 5px #ccc;
}
.cftxt{
    background-color: #fff;
    border-radius: 20px;
    height: 160px;
    margin-top: 120px;
    box-shadow: 5px 5px #ccc;
}
.notictxt{
    background-color: #fff;
    border-radius: 20px;
    height: 140px;
    margin-top: 60px;
    box-shadow: 5px 5px #ccc;
}
.footertxt{
    background-color: #fff;
    border-radius: 20px;
    height: 140px;
    margin-top: 60px;
    box-shadow: 5px 5px #ccc;
}
.respontxt{
    background-color: #fff;
    border-radius: 20px;
    height: 140px;
    margin-top: 60px;
    box-shadow: 5px 5px #ccc;
}